<! DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Users Assignment</title>
    </head>
    <body>
        <h1>Edit User {{ user.id }}</h1>
        <form action="/users/{{ user.id }}" method="post">
            <label for="first_name">First name: </label>
            <input type="text" name="first_name" placeholder="First name">
            <label for="last_name">Last Name: </label>
            <input type="text" name="last_name" placeholder="Last name">
            <label for="email">Email: </label>
            <input type="text" name="email" placeholder="Email address">
            <input type="submit" name="submit" value="Update">
        </form>
        <a href="/users/{{ user.id }}">Show</a> | <a href="/users">Go back</a>
    </body>
</html>