<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
        <title>Awesome Website</title>
    </head>
    <body>
        <div id="wrapper">
            <div id="header">
                <img src="{{ url_for('static', filename='img/redpanda_transparent.png') }}" alt="">
                {% if 'user' not in session %}
                <form action="/login" method="post">
                    <input type="text" name="email" placeholder="Email address">
                    <input type="password" name="password" placeholder="Password">
                    <input type="submit" name="submit" value="Login">
                </form>
                {% else %}
                <span>Welcome {{ session['name'] }}</span>
                {% endif %}
                {% with messages = get_flashed_messages(with_categories = true) %}
                    {% if messages %}
                        {% for error, message in messages %}
                            <p>{{message}}</p>
                        {% endfor %}
                    {% endif %}
                {% endwith %} 
            </div>
            <div id="nav">
                <ul>
                    {% if 'user' not in session %}
                        <li><a href="/">Home</a></li>
                        <li><a href="/register">Register</a></li>
                    {% else %}
                        <li><a href="/">Home</a></li>
                        <li><a href="/user">User Dashboard</a></li>
                        <li><a href="/wall">Wall</a></li>
                        <li><a href="/logout">Logout</a></li>
                    {% endif %}
                </ul>
            </div>
            <img src="{{ url_for('static', filename='img/redpanda.jpg') }}" alt="Adorable Red Panda!">
            <div id="content">
                <p>Here is some content for the body of the website. Enjoy!</p>
            </div>
        </div>
    </body>
</html>